body {
  margin: 0;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map:focus {
  outline: #4A74A8 solid 0.15em;
}

.ol-control button{ 
    width: 1.5625em;
    height: 1.5625em;
    background-color: rgba(40, 40, 40, 0.8) !important;

}
.ol-control button:hover{ 
    background-color: rgba(40, 40, 40, 1) !important;
}

.ol-overviewmap {
  margin-bottom: 25px;
}

#layer-select{
  right: 50px;
  bottom: 8px;
  /*background: #6a90b6;
  color: white;  */
}